@import './fonts.css';
@import './tailwind.css';
@import './theme.css';



/* ========== IMAGES ========== */
img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

/* ========== MEDIA QUERIES ========== */

/* Tablets */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

/* Small devices */
@media (max-width: 480px) {
  body {
    padding: 0 1rem;
  }
}
